extends layout

block content
    #slider
      .flexslider
        ul.slides
          li
            .slider-caption
              h1 Delicious Meals
              p
                | Donec justo dui, semper vitae aliquam euzali, ornare pretium enim. Maecenas molestie diam
                br
                br
                | eget tellus luctus fermentum.
              a(href='single-post.html') Shop Now
            img(src='images/slide1.jpg', alt='')
          li
            .slider-caption
              h1 Ice-cream Menus
              p
                | Nulla id iaculis ligula. Vivamus mattis quam eget urna tincidunt consequat. Nullam 
                br
                br
                | consectetur tempor neque vitae iaculis. Aliquam erat volutpat.
              a(href='single-post.html') More Details
            img(src='images/slide2.jpg', alt='')
          li
            .slider-caption
              h1 Healthy Drinks
              p
                | Maecenas fermentum est ut elementum vulputate. Ut vel consequat urna. Ut aliquet 
                br
                br
                | ornare massa, quis dapibus quam condimentum id.
              a(href='single-post.html') Get Ready
            img(src='images/slide3.jpg', alt='')
    #services
      .container
        .row
          .col-md-12
            .heading-section
              h2 Free Website Templates
              img(src='images/under-heading.png', alt='')
        .row
          .col-md-3.col-sm-6
            .service-item
              .icon
                i.fa.fa-pencil
              h4 Make an order
              p
                | Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.
          .col-md-3.col-sm-6
            .service-item
              .icon
                i.fa.fa-bullhorn
              h4 Promotions
              p
                | Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.
          .col-md-3.col-sm-6
            .service-item
              .icon
                i.fa.fa-bell
              h4 Ready to Serve
              p
                | Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.
          .col-md-3.col-sm-6
            .service-item
              .icon
                i.fa.fa-heart
              h4 Satisfaction
              p
                | Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.
    #latest-blog
      .container
        .row
          .col-md-12
            .heading-section
              h2 Latest blog posts
              img(src='images/under-heading.png', alt='')
        .row
          .col-md-4.col-sm-6
            .blog-post
              .blog-thumb
                img(src='images/blogpost1.jpg', alt='')
              .blog-content
                .content-show
                  h4
                    a(href='single-post.html') Summer Sandwich
                  span 29 Sep 2084
                .content-hide
                  p
                    | Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.
          .col-md-4.col-sm-6
            .blog-post
              .blog-thumb
                img(src='images/blogpost2.jpg', alt='')
              .blog-content
                .content-show
                  h4
                    a(href='single-post.html') New Great Taste
                  span 23 Sep 2084
                .content-hide
                  p
                    | Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.
          .col-md-4.col-sm-6
            .blog-post
              .blog-thumb
                img(src='images/blogpost3.jpg', alt='')
              .blog-content
                .content-show
                  h4
                    a(href='single-post.html') Spicy Pizza
                  span 14 Sep 2084
                .content-hide
                  p
                    | Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.
          .col-md-4.col-sm-6
            .blog-post
              .blog-thumb
                img(src='images/blogpost4.jpg', alt='')
              .blog-content
                .content-show
                  h4
                    a(href='single-post.html') Healthy Food
                  span 25 Aug 2084
                .content-hide
                  p
                    | Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.
          .col-md-4.col-sm-6
            .blog-post
              .blog-thumb
                img(src='images/blogpost5.jpg', alt='')
              .blog-content
                .content-show
                  h4
                    a(href='single-post.html') Great Breakfast
                  span 17 Aug 2084
                .content-hide
                  p
                    | Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.
          .col-md-4.col-sm-6
            .blog-post
              .blog-thumb
                img(src='images/blogpost6.jpg', alt='')
              .blog-content
                .content-show
                  h4
                    a(href='single-post.html') Fresh Fruit Juice
                  span 12 Aug 2084
                .content-hide
                  p
                    | Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.
    #testimonails
      .container
        .row
          .col-md-12
            .heading-section
              h2 What Customers Say
              img(src='images/under-heading.png', alt='')
        .row
          .col-md-8.col-md-offset-2
            .testimonails-slider
              ul.slides
                li
                  .testimonails-content
                    p
                      | Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.
                    h6
                      | Jennifer - 
                      a(href='#') Chief Designer
                li
                  .testimonails-content
                    p
                      | Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.
                    h6
                      | Laureen - 
                      a(href='#') Marketing Executive
                li
                  .testimonails-content
                    p
                      | Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.
                    h6
                      | Tanya - 
                      a(href='#') Creative Director
