extends layout

block content
    #heading
      .container
        .row
          .col-md-12
            .heading-content
              h2 Our Products
              span
                | Home / 
                a(href='about-us.html') Products
    #products-post
      .container
        .row
          .col-md-12
            #product-heading
              h2 Hungry ?
              img(src='images/under-heading.png', alt='')
        .row
          .filters.col-md-12.col-xs-12
            ul#filters.clearfix
              li
                span.filter(data-filter='all') All
              li
                span.filter(data-filter='.ginger') Ginger
              li
                span.filter(data-filter='.pizza') Pizza
              li
                span.filter(data-filter='.pasta') Pasta
              li
                span.filter(data-filter='.drink') Drink
              li
                span.filter(data-filter='.hamburger') Hamburger
        #Container.row
          .col-md-3.col-sm-6.mix.portfolio-item.Pizza
            .portfolio-wrapper
              .portfolio-thumb
                img(src='images/product1.jpg', alt='')
                .hover
                  .hover-iner
                    a.fancybox(href='images/product1_big.jpg')
                      img(src='images/open-icon.png', alt='')
                    span Pizza
              .label-text
                h3
                  a(href='single-post.html') Vege Pizza
                span.text-category $16.00
          .col-md-3.col-sm-6.mix.portfolio-item.ginger
            .portfolio-wrapper
              .portfolio-thumb
                img(src='images/product2.jpg', alt='')
                .hover
                  .hover-iner
                    a.fancybox(href='images/product2_big.jpg')
                      img(src='images/open-icon.png', alt='')
                    span Ginger
              .label-text
                h3
                  a(href='single-post.html') Ginger Tea
                span.text-category $24.00
          .col-md-3.col-sm-6.mix.portfolio-item.pizza
            .portfolio-wrapper
              .portfolio-thumb
                img(src='images/product3.jpg', alt='')
                .hover
                  .hover-iner
                    a.fancybox(href='images/product3_big.jpg')
                      img(src='images/open-icon.png', alt='')
                    span Pizza
              .label-text
                h3
                  a(href='single-post.html') Fresh Salad
                span.text-category $12.00
          .col-md-3.col-sm-6.mix.portfolio-item.pasta
            .portfolio-wrapper
              .portfolio-thumb
                img(src='images/product4.jpg', alt='')
                .hover
                  .hover-iner
                    a.fancybox(href='images/product4_big.jpg')
                      img(src='images/open-icon.png', alt='')
                    span Pasta
              .label-text
                h3
                  a(href='single-post.html') Healthy Herbal Tea
                span.text-category $8.00
          .col-md-3.col-sm-6.mix.portfolio-item.drink
            .portfolio-wrapper
              .portfolio-thumb
                img(src='images/product5.jpg', alt='')
                .hover
                  .hover-iner
                    a.fancybox(href='images/product5_big.jpg')
                      img(src='images/open-icon.png', alt='')
                    span Drink
              .label-text
                h3
                  a(href='single-post.html') Fruit Salad
                span.text-category $12.50
          .col-md-3.col-sm-6.mix.portfolio-item.hamburger
            .portfolio-wrapper
              .portfolio-thumb
                img(src='images/product6.jpg', alt='')
                .hover
                  .hover-iner
                    a.fancybox(href='images/product6_big.jpg')
                      img(src='images/open-icon.png', alt='')
                    span Hamburger
              .label-text
                h3
                  a(href='single-post.html') Spicy Hamburger
                span.text-category $7.50
          .col-md-3.col-sm-6.mix.portfolio-item.pizza
            .portfolio-wrapper
              .portfolio-thumb
                img(src='images/product7.jpg', alt='')
                .hover
                  .hover-iner
                    a.fancybox(href='images/product7_big.jpg')
                      img(src='images/open-icon.png', alt='')
                    span Pizza
              .label-text
                h3
                  a(href='single-post.html') Chocolate Cake
                span.text-category $16.00
          .col-md-3.col-sm-6.mix.portfolio-item.pasta
            .portfolio-wrapper
              .portfolio-thumb
                img(src='images/product8.jpg', alt='')
                .hover
                  .hover-iner
                    a.fancybox(href='images/product8_big.jpg')
                      img(src='images/open-icon.png', alt='')
                    span Pasta
              .label-text
                h3
                  a(href='single-post.html') Berry Taste
                span.text-category $15.00
          .col-md-3.col-sm-6.mix.portfolio-item.hamburger
            .portfolio-wrapper
              .portfolio-thumb
                img(src='images/product3.jpg', alt='')
                .hover
                  .hover-iner
                    a.fancybox(href='images/product3_big.jpg')
                      img(src='images/open-icon.png', alt='')
                    span Hamburger
              .label-text
                h3
                  a(href='single-post.html') Onion Grilled
                span.text-category $16.00
          .col-md-3.col-sm-6.mix.portfolio-item.drink
            .portfolio-wrapper
              .portfolio-thumb
                img(src='images/product2.jpg', alt='')
                .hover
                  .hover-iner
                    a.fancybox(href='images/product2_big.jpg')
                      img(src='images/open-icon.png', alt='')
                    span Drink
              .label-text
                h3
                  a(href='single-post.html') Another Ginger
                span.text-category $18.00
          .col-md-3.col-sm-6.mix.portfolio-item.ginger
            .portfolio-wrapper
              .portfolio-thumb
                img(src='images/product1.jpg', alt='')
                .hover
                  .hover-iner
                    a.fancybox(href='images/product1_big.jpg')
                      img(src='images/open-icon.png', alt='')
                    span Ginger
              .label-text
                h3
                  a(href='single-post.html') Mocha Coffee
                span.text-category $16.00
          .col-md-3.col-sm-6.mix.portfolio-item.pasta
            .portfolio-wrapper
              .portfolio-thumb
                img(src='images/product6.jpg', alt='')
                .hover
                  .hover-iner
                    a.fancybox(href='images/product6_big.jpg')
                      img(src='images/open-icon.png', alt='')
                    span Pasta
              .label-text
                h3
                  a(href='single-post.html') Dessert Time
                span.text-category $16.00
        .pagination
          .row
            .col-md-12
              ul
                li
                  a(href='#') Previous
                li
                  a(href='#') 1
                li
                  a(href='#') 2
                li
                  a(href='#') 3
                li
                  a(href='#') 4
                li
                  a(href='#') Next
